* {
     margin: 0;
     padding: 0;
     text-align: center;
}

h1 {
     background-color: #3184cc;
     color: #ffffff;
     height: 5rem;
     line-height: 5rem;
}

.choices {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 3rem;
     margin-top: 5rem;
}

.choice {
     height: 165px;
     width: 165px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.choice:hover {
     background-color: #3184cc;
}

img {
     height: 150px;
     width: 150px;
     object-fit: cover;
     border-radius: 50%;
}

img:hover {
     opacity: 75%;
     cursor: pointer;
}

.score-board {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2rem;
     margin-top: 3rem;
     gap: 5rem;
}

#user-score {
     font-size: 4rem;
}

#computer-score {
     font-size: 4rem;
}

#msg {
     background-color: #3184cc;
     color: #ffffff;
     height: 5rem;
     font-size: 2rem;
     display: inline;
     padding: 1rem;
     border-radius: 1rem;
}

.msg-container {
     margin-top: 5rem;
}